#button_wrapper {
  width: fit-content;

  #base_button {
    width: fit-content;
    box-shadow: 0px 0px 0px 0px #acacac, 0px 0px 0px 0px #acacac;
    // height: 44px;
    outline: transparent;
    border: transparent;
    font-size: 12px;
    border-radius: 7px;
    color: white;
    display: flex;
    align-items: center;
    transform: translate(0px, 0px);
    transition: all 0.1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    &:hover {
      box-shadow:
        0px 3px 0px 0px #d0d0d0,
        0px 5px 0px 0px #00000040;
      transform: translate(0px, -4px);

      .icon_wrapper {
        svg {
          animation-duration: 2s;
          animation-name: changewidth;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
    }

    &:active {
      transform: translate(0px, 1px) !important;
      box-shadow:
        0px 1px 0px 0px #acacac,
        0px 2px 0px 0px #acacac !important;

      .green {
        background-color: #12cb12;

        .icon_wrapper {
          background-color: #34a434;
        }
      }
    }

    span {
      padding: 0 10px;
      transition: all 0.2s;
      font-size: 14px;
    }

    .icon_wrapper {
      transition: all 0.2s;
      padding: 0;
      font-size: 16px;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 5px;

      svg {
        transition: all 0.2s;
      }
    }

    @keyframes changewidth {
      0% {
        scale: 1;
        rotate: 0deg;
      }

      30% {
        scale: 1.2;
        rotate: 15deg;
      }

      90% {
        scale: 1.2;
        rotate: -15deg;
      }

      100% {
        scale: 1;
        rotate: -15deg;
      }
    }
  }

  .primary {
    background-color: var(--primary-color);

    .icon_wrapper {
      // background: #0c75e5;
    }
  }

  .error {
    background-color: #ed2b2a;

    .icon_wrapper {
      // background-color: #ea0909;
    }
  }

  .green {
    background-color: #2db32d;

    .icon_wrapper {
      // background-color: #34a434;
    }

    &:hover {
      background-color: #4db94d !important;
    }
  }
}