#campaign_details_wrapper {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  // max-height: calc(100vh - 110px);
  // overflow: auto;

  #steps {
    background: var(--primary-color);
    border-radius: 10px;
    background-image: url("../../../images/bannerLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

    .ant-steps.ant-steps-vertical {
      width: 220px;
      color: white !important;
      padding: 10px;
      border-radius: 10px;
      height: fit-content;
    }

    .ant-steps-item {
      height: 50px;
      transition: all 0.5s;

      &-title {
        color: white !important;
      }

      &-container {
        transition: all 0.3s;
      }

      &-active {
        height: 150px;
        min-height: 150px;
      }
    }

    .ant-steps-item-active {
      .ant-steps-item-container {
        background: white;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        height: 45px;
        margin: 0 -8px;
      }

      .ant-steps-item-content {
        display: flex;
        align-items: center;
      }

      .ant-steps-item-title {
        color: var(--primary-color) !important;
      }
    }
  }

  .steps-content {
    &-main {
      max-height: calc(100vh - 195px);
      overflow: auto;
      padding: 10px;
    }

    &-action {
      padding: 0 10px;
    }
  }
}
