.main-content-fade-enter {
  opacity: 0;
}

.main-content-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.main-content-fade-exit {
  opacity: 1;
}

.main-content-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
