.dashboardNewItem,
.my-custom-tab,
.card-container {
    .ant-tabs-content-holder {
        max-height: calc(100vh - 82px);
        // height: calc(100vh - 127px);
        overflow-y: auto;
    }

    p {
        margin: 0;
    }

    .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
    .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
        background: var(--primary-color);
        padding: 2px 2px 0;
    }

    .ant-tabs-tab {
        margin: 0 !important;
        border: none !important;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 16px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background: transparent;
            width: 20px;
            height: 20px;
            border-radius: 11px;
            opacity: 0;
            box-shadow: -8px 10px 0 0 transparent;
            // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: none;
        }

        &.ant-tabs-tab-disabled {
            cursor: default;
        }
    }

    .ant-tabs-nav {
        margin-bottom: 0;
    }

    .tabs-stock {

        .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
        .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
            background-color: deepskyblue !important;
        }
    }

    .detail-tab-month-nav {
        .ant-tabs-content-holder {
            max-height: calc(100vh - 180px);
            height: calc(100vh - 180px);
        }

        .ant-tabs-nav {
            max-width: 155px;
        }

        .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
        .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
            background-color: deepskyblue !important;
        }
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
        z-index: 2 !important;
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:hover,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab:hover,
    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
        border-radius: 15px 15px 0 0;
        padding: 8px 15px;
        z-index: 1;
        color: #1890ff;
        // background: #f0f2f5 !important;
        // background: var(--app-bg) !important;
        // border-radius: 15px 15px 0 0;
        // padding: 8px 20px;
        // color: #0082fd;
        // color: var(--primary-color);
        // opacity: 1;
        // position: relative;

        &::before {
            left: 100%;
            box-shadow: -8px 10px 0 0 #f0f2f5;
            z-index: 1;
            opacity: 1;

            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        &::after {
            right: 100%;
            box-shadow: 10px 8px 0 0 #f0f2f5;
            z-index: 1;
            opacity: 1;
            // transition: none;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
}

.card-container>.ant-tabs-card .ant-tabs-content {
    // height: 120px;
    // margin-top: -16px;
}

.card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
    padding: 7px 16px;
    background: #f0f2f5;
}

.card-container.cicoreport>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
    padding: 0 16px;
}

.my-custom-tab>.ant-tabs-card>.ant-tabs-nav::before,
.card-container>.ant-tabs-card>.ant-tabs-nav::before {
    display: none;
}

.my-custom-tab>.ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .my-custom-tab>.ant-tabs-card .ant-tabs-tab,
.card-container>.ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .card-container>.ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}

.my-custom-tab>.ant-tabs-card .ant-tabs-tab:hover,
[data-theme="compact"] .my-custom-tab>.ant-tabs-card .ant-tabs-tab:hover,
.my-custom-tab>.ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"] .my-custom-tab>.ant-tabs-card .ant-tabs-tab-active,
.card-container>.ant-tabs-card .ant-tabs-tab:hover,
[data-theme="compact"] .card-container>.ant-tabs-card .ant-tabs-tab:hover,
.card-container>.ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"] .card-container>.ant-tabs-card .ant-tabs-tab-active {
    background: #f0f2f5;
    border-color: #f0f2f5;
}

#components-tabs-demo-card-top .code-box-demo {
    padding: 24px;
    overflow: hidden;
    background: #f5f5f5;
}

[data-theme="compact"] .my-custom-tab>.ant-tabs-card .ant-tabs-content,
[data-theme="compact"] .card-container>.ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}

[data-theme="dark"] .my-custom-tab>.ant-tabs-card .ant-tabs-tab,
[data-theme="dark"] .card-container>.ant-tabs-card .ant-tabs-tab {
    // background: transparent;
    border-color: transparent;
    background: var(--primary-color);
}

[data-theme="dark"] #components-tabs-demo-card-top .code-box-demo {
    background: #000;
}

[data-theme="dark"] .my-custom-tab>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane,
[data-theme="dark"] .card-container>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
    background: #141414;
}

[data-theme="dark"] .my-custom-tab>.ant-tabs-card .ant-tabs-tab-active,
[data-theme="dark"] .card-container>.ant-tabs-card .ant-tabs-tab-active {
    background: #141414;
    border-color: #141414;
}

.dashboardNewItem,
.my-custom-tab {
    .ant-tabs-content-holder {
        height: 100%;
        max-height: 100%;
    }
}

.my-custom-tab>.ant-tabs-card .ant-tabs-content>.ant-tabs-tabpane {
    display: none;
}