.modelTable {
    margin-bottom: 0;
    border-collapse: inherit;
    width: 100%;
}

.modelTable > tfoot,
.modelTable > tbody,
.modelTable > thead {
    vertical-align: top;
    font-size: 10px;
}

.modelTable > tfoot,
.modelTable > thead {
    position: sticky;
    z-index: 2;
    left: 0;
}

.modelTable > tfoot {
    bottom: 0;
}

.modelTable > thead {
    top: 0;
}

.modelTable > tfoot > tr,
.modelTable > thead > tr {
    background-color: #0055cd;
    color: rgb(222, 235, 255);
}

.modelTable > tbody > tr > td,
.modelTable > tbody > tr > th,
.modelTable > tfoot > tr > td,
.modelTable > tfoot > tr > th,
.modelTable > thead > tr > td,
.modelTable > thead > tr > th {
    padding: 5px;
    vertical-align: middle;
    font-size: 11px;
}

.modelTable > tbody > tr:nth-child(2n) {
    background: #f0f8ff;
}

.modelTable > thead > tr > td,
.modelTable > thead > tr > th {
    font-size: 9px;
}
