#bread_crumb {
  padding: 5px 0;
  margin: 0;
  background: #0082fe;
  border-radius: 25px;
  transition: all 0.3s;

  &:hover {
    padding: 5px 20px;
  }

  .ant-breadcrumb {
    .ant-breadcrumb-link {
      padding: 5px 9px;
      transition: all 0.3s;
      border-radius: 0;

      &:has(> a) {
        &:hover {
          background: #c8cbcc4d;

          a {
            color: black !important;
          }
        }
      }
    }

    ol {
      li {
        span {
          color: white;
        }
      }
    }
  }

  // @media screen and (max-width: 1200px) {
  //   display: none;
  // }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
