#loggings-overview {
  .filter_block {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    transition: all 0.3s;
  }
  .filter_block.show {
    height: auto !important;
    padding: 10px;
  }
}
