.pagination-custom {
  display: inline-block;

  * {
    display: inline-block;
    margin: 0 1px;
  }

  li.disabled {
    // display: none;
    button {
      cursor: no-drop;
    }

    button,
    span {
      color: #6c757d;
      background-color: #fff;
      border-color: #6c757d;
      cursor: not-allowed;
    }
  }

  a,
  button {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 2px 6px;
    text-decoration: none;
    background: transparent;
    min-width: 25px;
  }

  li.active {
    button {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
    }
  }

  li:first-child button,
  li:last-child button,
  li:first-child span,
  li:last-child span {
    border-radius: 0.25rem;
  }

  li span {
    padding: 2px 6px;
  }
}
