#statistic-card {
    padding: 10px 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: fit-content;
    height: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    overflow: hidden;

    &:hover {
        .icon {
            svg {
                animation-duration: 2s;
                animation-name: iconAnimation;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }

    p,
    h4 {
        margin: 0;
    }

    .content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: none !important;

        .value {
            font-size: 24px;
            color: var(--primary-color);
        }

        .title {
            color: #52526ccc;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }

    .icon {
        height: 70px;
        line-height: 70px;
        width: 70px;
        border-radius: 50%;
        right: 50%;
        transform: translateX(25px);

        svg {
            font-size: 30px;
            color: inherit;
        }
    }



    .blue {
        background-image: linear-gradient(144.16deg, rgba(102, 143, 255, 0.1) 19.06%, rgba(102, 158, 255, 0) 79.03%);

        svg,
        .value {
            color: #66c4ff;

        }
    }

    .purple {
        background-image: linear-gradient(144.16deg, rgba(115, 102, 255, .1) 19.06%, rgba(115, 102, 255, 0) 79.03%);

        svg,
        .value {
            color: #7366ff;
        }


    }

    .orange {
        background-image: linear-gradient(144.16deg, rgba(255, 170, 5, .1) 19.06%, rgba(255, 170, 5, 0) 79.03%);

        svg,
        .value {
            color: #ffaa05;
        }
    }

    .green {
        background-image: linear-gradient(144.16deg, rgba(84, 186, 74, .1) 19.06%, rgba(84, 186, 74, 0) 79.03%);

        svg,
        .value {
            color: #54ba4a;
        }
    }

    .red {
        background-image: linear-gradient(144.16deg, rgba(255, 51, 100, .1) 19.06%, rgba(255, 51, 100, 0) 79.03%);

        svg,
        .value {
            color: #f73164;
        }
    }


    @keyframes iconAnimation {
        0% {
            scale: 1;
        }


        50% {
            scale: 1.2;
        }


        100% {
            scale: 1;
        }
    }

    @media screen and (max-width: 1599px) {
        padding: 5px 10px;
        height: 70px;

        .content {
            .title {
                font-size: 12px;
            }

            .value {
                font-size: 20px;
            }
        }

        .icon {
            height: 50px;
            line-height: 50px;
            width: 50px;
        }
    }

    @media screen and (max-width: 1200px) {}

    @media screen and (max-width: 992px) {}
}