#section_with_title {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #c3c1c1;

  .title {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(0%, -50%);
    text-transform: capitalize;
    background: white;
    padding: 0 16px;
    border-radius: 10px;
    box-shadow: inherit;
    font-weight: 500;
  }
}