#ecommerceImageUpload {
    .ant-upload-list-item-error {
        border-color: #dbdbdb;
        border-radius: 5px
    }

    ul {
        list-style-type: none;
        display: flex;
        align-items: start;
        width: 265px;
        gap: 10px;
        padding: 0;
        flex-wrap: wrap;
        width: 100%;

        li {
            width: 272px;
            flex-basis: 272px;

            .ant-upload-list-item-actions {
                display: none;
            }

            .ant-upload-list {
                position: relative;
                height: 200px;

                .ant-upload-list-picture-card-container {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    z-index: 1;
                }

                .ant-upload {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    opacity: 0.3;
                    width: 100%;
                    border: 1px solid #bdbdbd;
                    transition: all .3s;
                }

                &:hover {
                    .ant-upload {
                        opacity: 0.7;
                        z-index: 10;
                    }
                }
            }
        }

        .ant-select {
            width: calc(100% - 8px);
        }

        .ant-upload-list.ant-upload-list-picture-card {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            .ant-upload-list-picture-card-container {
                width: 200px;
                height: 200px;
                margin: 0;
            }

            ;

            .ant-upload.ant-upload-select.ant-upload-select-picture-card {
                width: 200px;
                height: 200px;
                margin: 0;
            }
        }
    }
}