#sidebar {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  background: white;
  z-index: 9999;

  .ant-menu {
    li {
      &>div {
        height: 100%;
        display: flex;
        align-items: center;
      }

      width: 96%;
      margin: auto;
      margin-bottom: 2px;
      border-radius: 7px;

      &:hover {
        background: linear-gradient(45deg,
            #deebf2 22.16%,
            #e4eff6b3 76.47%) !important;
        font-weight: 500;
        border-radius: 7px;
      }
    }

    .ant-menu-sub {
      border-radius: 7px !important;
    }

    .ant-menu-submenu-open {
      background: linear-gradient(45deg,
          #deebf2 22.16%,
          #e4eff6b3 76.47%) !important;
      font-weight: 500;
      border-radius: 7px !important;
    }
  }

  .ant-menu-submenu-selected,
  .ant-menu-item-selected {
    background: linear-gradient(45deg,
        #deebf2 22.16%,
        #e4eff6b3 76.47%) !important;
    font-weight: 500;
    border-radius: 7px !important;
  }
}