#paymentGroup {
    .image {
        overflow: hidden;
        position: relative;
        border-radius: 19px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        .edit {
            position: absolute;
            inset: 0;
            opacity: 0;
            z-index: 10;
            border: none
        }

        &:hover {
            .edit {
                background-color: #cfcfcf54;
                transition: all .2s;
                opacity: 1;
            }

            img {
                scale: 1.2;
                transition: 10s;
            }
        }
    }

    .icon {
        width: 150px;
        height: 150px;
        border: 1px dashed var(--primary-color);
        cursor: pointer;
        border-radius: 19px;

        &:hover {
            svg {
                scale: 1.2
            }
        }

        svg {
            font-size: 35px;
            color: var(--primary-color);
            transition: all .3s;
        }
    }
}