#edit_menu_wrapper {
  .ant-tree-title {
    .menu-node-icon {
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      .menu-node-icon {
        opacity: 1;
        transition: all 0.2s;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
  .ant-tree-node-selected {
    .ant-tree-title {
      .menu-node-icon {
        opacity: 1;
      }
    }
  }
}
